.bbb {
 width: 100%;
 height: 150vh;
 background-color: #DEF1F9;
 padding-top: 50px;
 padding-bottom: 291.66px;
 padding-left: 50px;
 padding-right: 50px;
}
.fform .imb{
 margin-bottom: -40px;
}
.medkit h5 {
 color: #1E3673;
 font-family: Roboto;
 font-size: 20px;
 font-style: normal;
 font-weight: 600;
 line-height: 134.188%;
}

.medkit p {
 color: #1E3673;
 font-family: Roboto;
 font-size: 12px;
 font-style: normal;
 font-weight: 400;
 line-height: 132.188%;
}

.fform img {
 margin-bottom: 15px;
 margin-top: 15px;
}

.email2 {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin: auto;
}

.email2 input {
 width: 300px;
 height: 39px;
 border-radius: 20px;
 border: 2px solid rgba(0, 0, 0, 0.20);
 background: #FFF;
 padding: 12px 105px;
}

.email2 label {
 color: #1E3673;
 font-family: Roboto;
 font-size: 12px;
 font-style: normal;
 font-weight: 400;
 line-height: 132.188%;
 margin-bottom: -20px;
}

.email2 input::placeholder {
 color: rgba(0, 0, 0, 0.40);
 width: fit-content;
 font-family: Roboto;
 font-size: 12px;
 font-style: normal;
 font-weight: 400;
 line-height: 132.188%;
}


.email2 .sig {
  width: 300px;
   height: 39px;
   border-radius: 20px;
   background: #1E3673;
   color: #FFF;
   font-family: Roboto;
   font-size: 12px;
   font-style: normal;
   font-weight: 400;
   line-height: 132.188%;
   margin-top: 50px;
}

.email2 .pp {
 color: #1E3673;
 font-family: Roboto;
 font-size: 12px;
 font-style: normal;
 font-weight: 400;
 line-height: 132.188%;
 margin-top: -10px;
}

.pp span {
 color: #2F98C2;
 font-family: Roboto;
 font-size: 12px;
 font-style: normal;
 font-weight: 400;
 line-height: 132.188%;
}


















.login img {
 display: none;
}